.card {
  height: 75px;
  width: 45px;
  border-radius: 5px;
  border: 1px solid gray;
  cursor: pointer;
  position: relative;
  background-color: #f8f8f8;
  margin: 3px;

  // &.collapsed {
  //   margin: 0;
  // }

  &.selected {
    background-color: lightblue;
  }

  .card_face {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    .card_face_visible {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      width: 35%;
      margin: auto;

      svg {
        fill: lightgray;
      }
    }
  }
}
