#table {
  width: 100vw;
  flex: 1;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: relative;

  .table_space {
    min-height: 75px;
    min-width: 45px;
    border-radius: 5px;
    border: 2px dashed lightgray;
    margin: 10px;
    position: relative;

    ul {
      display: block;
    }
  }
}
